---
import '../styles/global.css';

interface Props {
  title: string;
  description?: string;
}

const { title, description = '域名输入错误提示页' } = Astro.props;
---

<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex, nofollow, noarchive" />
    <meta name="description" content={description} />
    
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
