---
import '../styles/global.css';

interface Props {
  title: string;
  description?: string;
}

const { title, description = '域名输入错误提示页' } = Astro.props;
---

<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex, nofollow, noarchive" />
    <meta name="description" content={description} />
    
    <link rel="preload" href="https://count.getloli.com/@ptrs.wiki?name=ptrs.wiki&theme=gelbooru&padding=7&offset=0&align=top&scale=1&pixelated=1&darkmode=auto" as="image" />

    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
